Makefile
Makefile.old
MANIFEST
MANIFEST.bak
/META.*
/MYMETA.*
/.aspell.en.prepl
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Math-Numerical-*
Math-Numerical-*.tar.gz
*.stackdump
*.bak
*.tdy
